.action-bar {
    background-color: #408CFF  !important;
}

.btn-nav {
    font-size: 25;
    padding: 8;
    color: white;
}

.anuncio {
    margin: 10 10 10 10;
    border-radius: 15;
    padding: 10;
}
