<ActionBar class="action-bar">
    <GridLayout rows="*, " columns="auto, *, auto">
        <label col="0" row="0"
               (tap)="onBack()" class="btn">
            <FormattedString>
                <span class="mat-icon btn-nav" text="keyboard_backspace"></span>
                <span class="btn-nav" text=" Imprimir"></span>
            </FormattedString>
        </label>
    </GridLayout>
</ActionBar>
<GridLayout rows="auto, *" columns="*">
    <button row="0" text="Dispositivos Conectados" (tap)="searchPrinter()"></button>
    <RadListView row="1" [items]="list">
        <ng-template let-item="item">
            <StackLayout>
                <Label text="Nombre:  {{item.printName}}" textWrap="true"></Label>
                <Label text="Address: {{item.printAddress}}" textWrap="true"></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>



